
    <!-- artists Grid Section -->
    <section id="artists">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Artists</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
                <h2><a href="https://www.facebook.com/BubblegumOctopusOfficial/">Bubblegum Octopus</a></h2>
                <h3>Spazzpop, Piconoise, Tweegrind</h3>
                <p><a href="http://www.bubblegum-octopus.com/" target="_blank" rel="nofollow nofollow">bubblegum-octopus.com</a></p>
                
                <h2><a href="https://www.facebook.com/Saskrotch/">Saskrotch</a></h2>
                <h3>Chipbreak</h3>
                <p><a href="https://saskrotch.bandcamp.com/" target="_blank" rel="nofollow nofollow">saskrotch.bandcamp.com</a></p>
                
                <h2><a href="https://www.facebook.com/PANDAstar.music/">PANDAstar</a></h2>
                <h3>chiptune/trance/happy hardcore/glitch</h3>
                <p><a href="https://pandastar.bandcamp.com/" target="_blank" rel="nofollow nofollow">pandastar.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/dboydchiptune/">DBOYD</a></h2>
                <h3>Chiptune</h3>
                <p><a href="https://dboyd.bandcamp.com/" target="_blank" rel="nofollow nofollow">dboyd.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/itsmisterangles/">Tri Angles</a></h2>
                <h3>Chiptune, DnB, Neurofunk</h3>
                <p><a href="https://itsmisterangles.bandcamp.com/" target="_blank" rel="nofollow nofollow">itsmisterangles.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/doomcloudlives/">Doomcloud</a></h2>
                <h3>trash////house</h3>
                <p><a href="https://doomcloud.bandcamp.com/" target="_blank" rel="nofollow nofollow">doomcloud.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/myparentsfavoritemusic/">My Parents Favorite Music</a></h2>
                <h3>Chip-Hop</h3>
                <p><a href="http://www.myparentsfavoritemusic.com/" target="_blank" rel="nofollow nofollow">www.myparentsfavoritemusic.com</a></p>

                <h2><a href="https://www.facebook.com/CCDM-119525414211/">CCDM</a></h2>
                <h3>Experimental/Classical/Breakcore/IDM</h3>
                <p><a href="https://ccdm.bandcamp.com" target="_blank" rel="nofollow nofollow">ccdm.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/Nestrogen-309471824499/">Nestrogen</a></h2>
                <h3>Chip Music</h3>
                <p><a href="https://nestrogen.bandcamp.com/" target="_blank" rel="nofollow nofollow">nestrogen.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/NanodeMusic/" target="_blank" rel="nofollow nofollow">Nanode</a></h2>
                <h3>Chiptune</h3>
                <p><a href="https://nanode.bandcamp.com/" target="_blank" rel="nofollow nofollow">nanode.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/ShadrewMusic/">Shadrew</a></h2>
                <h3>Noise Pop / Chiptune / Synthpop / Explodiblast</h3>
                <p><a href="https://shadrew.bandcamp.com/" target="_blank" rel="nofollow nofollow">shadrew.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/monotonymusic/">Monotony</a></h2>
                <h3>Electronic, 8-bit, Indie, Chiptune, Piko Piko</h3>
                <p><a href="https://monotony.bandcamp.com/" target="_blank" rel="nofollow nofollow">monotony.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/SSDEngage/">SSD Engage</a></h2>
                <h3>Electronica, Chiptunes, Experimental</h3>
                <p><a href="https://ssdengage.bandcamp.com/" target="_blank" rel="nofollow nofollow">ssdengage.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/venosci/">VenoSci</a></h2>
                <h3>Kawaiistep</h3>
                <p><a href="https://venosci.bandcamp.com/" target="_blank" rel="nofollow nofollow">venosci.bandcamp.com</a></p>
                
                <h2><a href="https://www.facebook.com/IGotWormsIGW/">I Got Worms</a></h2>
                <h3>chiptune, brokecore, modular, improv</h3>
                
                <h2><a href="https://www.facebook.com/Kkrusty-163115900384938/">Kkrusty</a></h2>
                <h3>Chiptune</h3>
                <p><a href="https://kkrusty.bandcamp.com/" target="_blank" rel="nofollow nofollow">kkrusty.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/infodriveChip/">Infodrive</a></h2>
                <h3>Chiptune</h3>
                <p><a href="https://infodrive.bandcamp.com" target="_blank" rel="nofollow nofollow">infodrive.bandcamp.com</a></p>

                <h2><a href="https://www.facebook.com/hypnogram/">Hypnogram</a></h2>
                <h3>lo-fi electronic and chiptune</h3>
                <p><a href="http://www.littlesoundassembly.com/hypnogram/" target="_blank" rel="nofollow nofollow">http://www.littlesoundassembly.com/hypnogram</a></p>

                <h2><a href="https://www.facebook.com/ShotgunGuyNXC/">Shotgun Guy</a></h2>
                <h3>Nintendocore</h3>
                <p><a href="https://8bitexternal.bandcamp.com/album/s-t-ep">8bitexternal.bandcamp.com/album/s-t-ep</a></p>

                <h2><a href="http://music.nonfinite.org">Nonfinite</a></h2>
                <h3>Renaissance Android</h3>
                <p><a href="http://music.nonfinite.org/" target="_blank" rel="nofollow nofollow">music.nonfinite.org</a></p>

                <h2><a href="https://www.facebook.com/AbandonedOnFire/">Abandoned on Fire</a></h2>
                <h3>chiptune, noise, cyberpunk</h3>
                <p><a href="https://abandonedonfire.bandcamp.com/" target="_blank" rel="nofollow nofollow">abandonedonfire.bandcamp.com</a></p>
                
                
            </div>
        </div>
    </section>