
    <!-- artists Grid Section -->
    <section class="success" id="artists">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Artists</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <h2>                
                    <a href="https://www.facebook.com/BubblegumOctopusOfficial/">Bubblegum Octopus</a>
                </h2>
                <h3>
                    Spazzpop, Piconoise, Tweegrind
                </h3>
                <p>
                    <a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.bubblegum-octopus.com%2F&amp;h=BAQF8iCND&amp;enc=AZO1Q2Zaer9zjDFKEVW17tMskD_E-6HxxAj84UUG8ZkxfTboa3f13KogmIrgj6p9QyY&amp;s=1" target="_blank" rel="nofollow nofollow">http://www.bubblegum-octopus.com/</a>
                </p>
                <h2>                
                    <a href="https://www.facebook.com/Saskrotch/">Saskrotch</a>
                </h2>
                <h3>
                    Chipbreak
                </h3>
                <p>
                    <a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fsaskrotch.bandcamp.com%2F&amp;h=pAQGO5OtC&amp;enc=AZP5tLK9AYMCfVB2QY0NgUsgJDu8P8Enx828BYuUympc5kpuf6HDmjKfn6X1nyQ1Igc&amp;s=1" target="_blank" rel="nofollow nofollow">https://saskrotch.bandcamp.com/</a>
                </p>
                <h2><a href="https://www.facebook.com/PANDAstar.music/">PANDAstar</a></h2>
                <h3>chiptune/trance/happy hardcore/glitch</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fpandastar.bandcamp.com%2F&amp;h=qAQE-3LGi&amp;enc=AZOjb1tIxrKv-lGUOgDqkIsPQTpo6O-m8wr9M_Y6C4sTnM5qMXkT9QZ2Vw5vIzhIuds&amp;s=1" target="_blank" rel="nofollow nofollow">https://pandastar.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/dboydchiptune/">DBOYD</a></h2>
                <h2>Chiptune</h2>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fdboyd.bandcamp.com%2F&amp;h=UAQHULz4k&amp;enc=AZMx7ljkRCdmzOy0YsFtk9YFIFZPNu_FQxrSmbZmSbuMhhmzKepec4_giL_D-aW3xRQ&amp;s=1" target="_blank" rel="nofollow nofollow">https://dboyd.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/itsmisterangles/">Tri Angles</a></h2>
                <h3>Chiptune, DnB, Neurofunk</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fitsmisterangles.bandcamp.com%2F&amp;h=2AQFRmBBR&amp;enc=AZP4D34HNyG6KcsMADyIZOdZwxQaotCGNdIqzTvPA5zOb6NIWMEMZDhviKAaMfA8lr0&amp;s=1" target="_blank" rel="nofollow nofollow">https://itsmisterangles.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/doomcloudlives/">Doomcloud</a></h2>
                <h3>trash////house</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fdoomcloud.bandcamp.com%2F&amp;h=qAQE-3LGi&amp;enc=AZMqXVZuC8pJdl1oBKFmHBeHMmzjn7vxNCd_MYi4Md6k17bo2q0bGogJ-YQFxAns-d8&amp;s=1" target="_blank" rel="nofollow nofollow">https://doomcloud.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/myparentsfavoritemusic/">My Parents Favorite Music</a></h2>
                <h3>Chip-Hop</h3>
                <p><a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.myparentsfavoritemusic.com%2F&amp;h=_AQF1PwVx&amp;enc=AZOaHafC77ANlQKZgzjvJbBlPAq3tUnHKar32NFSEmY6V8xqh4LMGA7kxrK4iIZ6OMI&amp;s=1" target="_blank" rel="nofollow nofollow">http://www.myparentsfavoritemusic.com/</a></p>

                <h2><a href="https://www.facebook.com/CCDM-119525414211/">CCDM</a></h2>
                <h3>Experimental/Classical/Breakcore/IDM</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fccdm.bandcamp.com%2Freleases&amp;h=rAQE0bySB&amp;enc=AZMyXt5BiRD-XLzIyVfC7Ahob7R1fnXps1zKPYPaOgffTM-TTx7CpiSttuU3fgnbDjM&amp;s=1" target="_blank" rel="nofollow nofollow">https://ccdm.bandcamp.com/releases</a></p>

                <h2><a href="https://www.facebook.com/Nestrogen-309471824499/">Nestrogen</a></h2>
                <h3>Chip Music</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fnestrogen.bandcamp.com%2F&amp;h=PAQFrGo0D&amp;enc=AZPdFOLB53TCLP7iT8Uo_aDNFKLiN8U8cE4mTeYknIq0vZ64-ZQ7KxsHh8-powCjuvM&amp;s=1" target="_blank" rel="nofollow nofollow">https://nestrogen.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/NanodeMusic/">Nanode</a></h2>
                <h3>Chiptune</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fnanode.bandcamp.com%2F&amp;h=vAQHQzs59&amp;enc=AZNgQ8g0uEnFU4HmMtf62YOQmgiFtYL23bN_QPxTn4AGopsUfWAjB8qrvew3ZzHc3XA&amp;s=1" target="_blank" rel="nofollow nofollow">https://nanode.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/ShadrewMusic/">Shadrew</a></h2>
                <h3>Noise Pop / Chiptune / Synthpop / Explodiblast</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fshadrew.bandcamp.com%2F&amp;h=sAQF0Ziwg&amp;enc=AZP55TIJHr0td6H9pRarehx1i4TvYdjAJmLDuFAmwPhX-Cogu-O1UhC7oWq2jy7ReTQ&amp;s=1" target="_blank" rel="nofollow nofollow">https://shadrew.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/monotonymusic/">Monotony</a></h2>
                <h3>Electronic, 8-bit, Indie, Chiptune, Piko Piko</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fmonotony.bandcamp.com%2F&amp;h=xAQFhGWBK&amp;enc=AZMs265neGy8RwtbYuBregzzHrQzJEfMFveQKzNnwJ9MLeXMAEabbh8cVa8418AclGY&amp;s=1" target="_blank" rel="nofollow nofollow">https://monotony.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/SSDEngage/">SSD Engage</a></h2>
                <h3>Electronica, Chiptunes, Experimental</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fssdengage.bandcamp.com%2F&amp;h=YAQHikwiS&amp;enc=AZM5waPbf_etEnreYWTMr1eAKbSEOPO4tqTXP8aDsLnhgJvLRv3506r2JPODsm6wWhE&amp;s=1" target="_blank" rel="nofollow nofollow">https://ssdengage.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/venosci/">VenoSci</a></h2>
                <h3>Kawaiistep</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fvenosci.bandcamp.com%2F&amp;h=yAQEGTHvl&amp;enc=AZOXEz8wj-E0kvWNj2tpVPgRZoJHA86-gqtY8Va06f-hQS2mHS-PvJ-FJXa0UI0rOVU&amp;s=1" target="_blank" rel="nofollow nofollow">https://venosci.bandcamp.com/</a></p>
                <h2><a href="https://www.facebook.com/IGotWormsIGW/">I Got Worms</a></h2>
                <h3>chiptune, brokecore, modular, improv</h3>
                <h2><a href="https://www.facebook.com/Kkrusty-163115900384938/">Kkrusty</a></h2>
                <h3>Chiptune</h3>
                <p><a href="https://kkrusty.bandcamp.com/" target="_blank" rel="nofollow nofollow">https://kkrusty.bandcamp.com/</a></p>

                <h2><a href="https://www.facebook.com/infodriveChip/">Infodrive</a></h2>
                <h3>Chiptune</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Finfodrive.bandcamp.com%2Freleases&amp;h=LAQFKxaym&amp;enc=AZOq6ShnalU4y_iy_FkHs8HLTzQ5k8WLlXo-z_YGAuQAA3MUzGBoMewy9srKfobIn6o&amp;s=1" target="_blank" rel="nofollow nofollow">https://infodrive.bandcamp.com/releases</a></p>

                <h2><a href="https://www.facebook.com/hypnogram/">Hypnogram</a></h2>
                <h3>lo-fi electronic and chiptune</h3>
                <p><a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.littlesoundassembly.com%2Fhypnogram%2F&amp;h=kAQEXaup-&amp;enc=AZMAzpHr3Hu1115DE66KC7VoSjXJHPzmjAzdLsnvs7D9qXbOn6e36u1LziM983DaFbc&amp;s=1" target="_blank" rel="nofollow nofollow">http://www.littlesoundassembly.com/hypnogram/</a></p>

                <h2><a href="https://www.facebook.com/ShotgunGuyNXC/">Shotgun Guy</a></h2>
                <h3>Nintendocore</h3>
                <p><a href="https://www.facebook.com/l.php?u=https%3A%2F%2F8bitexternal.bandcamp.com%2Falbum%2Fs-t-ep&amp;h=4AQE_OY1p&amp;enc=AZPbkidlEdg1sraPB1opUGlLnc5_5qOnz3bPPceQVrbrf97IQwMrwzoAxdIDQxrEAzA&amp;s=1" target="_blank" rel="nofollow nofollow">https://8bitexternal.bandcamp.com/album/s-t-ep</a></p>

                <h2><a href="http://music.nonfinite.org">Nonfinite</a></h2>
                <h3>Renaissance Android</h3>
                <p><a href="http://music.nonfinite.org/" target="_blank" rel="nofollow nofollow">http://music.nonfinite.org/</a></p>

                <h2><a href="https://www.facebook.com/AbandonedOnFire/">Abandoned on Fire</a></h2>
                <h3>chiptune, noise, cyberpunk</h3>
                <p><a href="https://abandonedonfire.bandcamp.com/" target="_blank" rel="nofollow nofollow">https://abandonedonfire.bandcamp.com/</a></p>
                
            </div>
        </div>
    </section>