 <!-- About Section -->
    <section class="success" id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Venue</h2>
                </div>
            </div>
            <div class="row">
                
                <br><br>
                
                <img class="center" src="/img/pg_page_cover777.jpg" />
                
                <br><br>
                
            <p><a href="http://pgeville.com/" target="_blank">[PG]</a> is a new art, culture, café, restaurant and performance space in Evansville, Indiana.</p>
            <p>Their main features are a contemporary art gallery, an intimate music and events space, and a café with quality food and drinks.</p>
            
            </div>
        </div>
    </section>