
    <!-- artists Grid Section -->
    <section id="visualists">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Visualists</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
 
                
                <h3><a href="https://www.facebook.com/ohhinaifu">ohhinaifu</a></h3>
                <h3>diebenjidie</h3>
                <h3>VenoSci</h3>
                <h3><a href="https://www.facebook.com/frankangottiisdead">frank angotti is dead</a></h3>
                <h3>Mr. Saturn</h3>            
                
            </div>
        </div>
    </section>